#.gitignore file
Temp/*
Library/*
Build/*

#Un-ignore these specific files

#ignoring pidb, they are just code completion caching data according to:
# http://stackoverflow.com/questions/1...ops-pidb-files
*.pidb
*.userprefs

.DS_Store